{% extends "layout.html" %}
{% block content %}

  <!-- Main Content Block --> <!--Start of Header-->
  <div class="jumbotron ">
    <div class="container">
      <h1>FIU Snipe-IT API | CASTIC</h1>
      <p>All employees, contractors, consultants, temporary, and other workers at CASTIC and its subsidiaries are responsible for exercising good judgment regarding appropriate use of information, electronic devices, and network resources in accordance with FIU policies and standards, and local laws and regulation. Exceptions to this policy are documented in section 5.2 of CASTIC internal policies and procedures.</p>
    </div>
  </div>
  <!--End of Header-->

  <hr>

  <div class="row">
      <div class="col-sm-12">

        <div class="content-section">
            <div class="container">
                <select class="custom-select" id="mySelect" onchange="searchby()">
                <option value="">Choose...</option>
                <option value="Assest Tag">Assest Tag</option>
                <option value="Mac Address">Mac Address</option>
                <option value="Serial Number">Serial Number</option>
              </select>
            </div>
            <hr>
              <div class="container">
                <p id="demo"></p>
              </div>
              
              <!-- Edit Custom Javascript File for Input Customization -->
              <script>
                searchby() 
              </script>


            <hr>
          <h3>Return Data</h3>
          <p class='text-muted'>
            <ul class="list-group">

                <div class="col-sm-12">
          <div class="content-section">
              
                <hr>
            <h3>CASEIDB Data</h3>
            <p class='text-muted'>Information below is realtime information from CASTIC CASEIDB
              <ul class="list-group">
                {% if host%}
                  <strong>EXAMPLE DATA</strong>
                  <li class="list-group-item list-group-item-light">asset_tag: {{ host['rows'][0]['asset_tag'] }} </li>
                  <li class="list-group-item list-group-item-light">serial: {{ host['rows'][0]['serial'] }} </li>
                  <li class="list-group-item list-group-item-light">assigned_to: {{ host['rows'][0]['assigned_to']["name"] }} </li>
                  <li class="list-group-item list-group-item-light">location: {{ host['rows'][0]['location']["name"] }}</li>
                  <li class="list-group-item list-group-item-light">name: {{ host['rows'][0]['name'] }}</li>
                {% endif%}
              </ul>
            </p>
          </div>
        </div> 


            
            </ul>
          </p>
        </div>
      </div>
    </div>
{% endblock content %}